certifi==2026.1.4
charset-normalizer==3.4.4
decorator==5.2.1
idna==3.11
imageio==2.37.2
imageio-ffmpeg==0.6.0
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.2.6
pillow==12.1.0
proglog==0.1.12
Pygments==2.19.2
pytube==15.0.0
requests==2.32.5
rich==14.3.1
setuptools==80.10.1
SpeechRecognition==3.14.5
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.6.3
