certifi==2024.8.30
charset-normalizer==3.4.0
decorator==5.1.1
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.1.2
pillow==11.0.0
proglog==0.1.10
Pygments==2.18.0
pytube==15.0.0
requests==2.32.3
rich==13.9.2
setuptools==75.1.0
SpeechRecognition==3.10.4
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.3
