certifi==2024.2.2
charset-normalizer==3.3.2
decorator==4.4.2
idna==3.7
imageio==2.34.0
imageio-ffmpeg==0.4.9
numpy==1.26.4
pillow==10.3.0
proglog==0.1.10
pytube==15.0.0
requests==2.31.0
setuptools==69.5.1
SpeechRecognition==3.10.3
tqdm==4.66.2
typing_extensions==4.11.0
urllib3==2.2.1
